@import url(https://fonts.googleapis.com/css?family=Lato&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap);



h1{
    text-align:center;
    font-size:10;
    font-weight: 600;
    font-size: 100px;
}

h2{
    text-align:left;
    font-size:50px;
    font-weight: 500;
    font-family:"Libre Bakerville", serif;
}

body{
    background-color:rgb(238, 235, 213);
    font-size: 16px;
    font-family:'Lato', sans-serif;
    color:rgb(14, 18, 71);
    text-align:left;
}

.column {
    float: right;
    width: 33.67%;
    padding: 5px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

.left {
    text-align: left;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.right {
    float: right;
}