@import url(https://fonts.googleapis.com/css?family=Lato&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap);



h1{
    text-align:center;
    font-size:large;
    font-weight: 600;
    font-size: 100px;
    /*padding-top:10px;*/
    padding-bottom:20px;
}

h2{
    text-align:center;
    font-size:50px;
    font-weight: 500;
    font-family:"Libre Bakerville", serif;
    padding-bottom:10px;
}

body{
    background-color:rgb(238, 235, 213);
    font-size: 16px;
    font-family:'Lato', sans-serif;
    color:rgb(14, 18, 71);
    text-align:center;
    
}

p{
    font-family:'Lato', sans-serif;
    padding-bottom:30px;
    text-align: center;
}
.name{
    font-size: 70px;
    color:rgb(39, 121, 146);
    font-weight:bold;
}
.intro{
    text-align: left;
}

.lastname{
    padding-left:230px;
}

.column {
    float: right;
    width: 33.67%;
    padding: 5px;
  }
  
.row::after {
    content: "";
    clear: both;
    display: table;
  }

.left {
    text-align: left;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.right {
    float: right;
    text-align: right;
}

.pic {
    padding-top:150px;
    padding-bottom:120px;
}

.pad{
    padding-top:50px;
    padding-right:150px;
}

.profpic{
    height: 500px;
    width: auto;
}

.card-img{
    height: 100px;
    width: auto;
}